
h1{text-align: center;}
div.holowidgets{position:relative ;top:190px}
.bk-root .bk-toolbar.bk-above{float:left}
div.hololayout{width:1000px}
div.price{position: relative;
    top: 0px;
    right: 75;}
